{% load static %}

{% block css %}
<link rel="stylesheet" href="css/estiloLogin.css">
{% endblock %}

{% block javascript %}
<script src="js/jquery-3.1.1.min.js"></script>    
<script src="js/main.js"></script>
{% endblock %}


{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login | Gamer Zone |</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'core/'%}css/estiloLogin.css">
    <link rel="stylesheet" href="base.html">
</head>
<body>
    <div class="contenedor-form">
        <div class="toggle">
            <span>Crear Cuenta</span>
        </div>
        
        <div class="formulario">
            <h2>Iniciar Sesión</h2>
            <form action="{% url 'home' %}">
                <input type="text" placeholder="Usuario" required>
                <input type="password" placeholder="Contraseña" required>
                <input type="submit" value="Iniciar Sesión" >              
            </form>
        </div>
        
        <div class="formulario">
            <h2>Crea tu Cuenta</h2>
            <form action="{% url 'login' %}">
                <input type="text" placeholder="Usuario" required>
                
                <input type="password" placeholder="Contraseña" required>
                
                <input type="email" placeholder="Correo Electronico" required>
                
                <input type="email" placeholder="Confirmar Correo Electronico" required>
                
                <input type="submit" value="Registrarse">
            </form>
        </div>
        
    </div>
    <script src="{% static 'core/'%}js/jquery-3.1.1.min.js"></script>    
    <script src="{% static 'core/'%}js/main.js"></script> 
</body>
</html>  
{% endblock %}